# ============================
# Windows
# ============================
Thumbs.db
Desktop.ini

# ============================
# macOS
# ============================
.DS_Store

# ============================
# Visual Studio Code
# ============================
.vscode/

# ============================
# Datos privados
# ============================
data/familias.json